* { 
    margin: 0;
    padding: 0; 
    background-color: rgb(68, 64, 64);
    font-family: 'Fira Sans', sans-serif;
}

.holder{
    width: 10%;
    height: 20vh;
    padding: 15px 15px 15px 15px;
}

.image{
    width: 100%;
    height: 20vh;
    display: flex;
    object-fit:cover;
    flex-wrap: wrap;
}

.frame{
    border-radius: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.image:hover{
    cursor: pointer;
}

h1{
    color: rgb(196, 16, 16);
    background-color: rgb(46, 44, 44);
    font-size: 4vh;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
}